---
layout: default
pagination:
  enabled: true
---

<div class="post-list">
{% for post in paginator.posts %}
    <div class="post-item">
        {{ post.content }}
        <div class="note-meta">
            <span class="note-date">{{ post.date | date: "%y%m%d" }}</span>
            {% if post.source %}
                <span class="note-source">
                    <a href="{{ post.source }}" target="_blank">Source ↗</a>
                </span>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">←</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">→</a>
    {% endif %}

    <!-- {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <span class="current-page">{{ page }}</span>
        {% elsif page == 1 %}
            <a href="/">{{ page }}</a>
        {% else %}
            <a href="/page/{{ page }}/">{{ page }}</a>
        {% endif %}
    {% endfor %} -->

</div>
{% endif %} 