<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | capitalize | default: content | strip_html | truncatewords: 10, "" }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ page.title | default: content | strip_html  | capitalize | truncatewords: 10, '' }}" />
    <meta property="og:description" content="{{ content | strip_html | strip_newlines | truncate: 160 }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/apple-touch-icon.png' | absolute_url }}{% endif %}" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/apple-touch-icon.png' | absolute_url }}{% endif %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ '/' | relative_url }}">Notes</a>
        <a href="#" class="inactive">Meaning <span class="badge">alpha</span></a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }} • {{ site.description }} <!--a href="{{ '/work/' | relative_url }}" class="nav-link">Work</a--></p>
    </footer>
  </body>
</html>