---
layout: default
---
<article>
    {% if page.image %}
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
  {{ content }}
  <footer>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    <!--div class="share-buttons">
      <button class="post-link">Post</button>
      <div class="platforms">
        <a href="https://twitter.com/intent/tweet?text={{ content | replace: '</p>', ' ' | replace: '<p>', '' | strip_html | strip_newlines | url_encode }}{% if image_url %}&url={{ page.url | absolute_url | url_encode }}&image={{ image_url | absolute_url | url_encode }}{% else %}&url={{ page.url | absolute_url | url_encode }}{% endif %}" target="_blank" rel="noopener">Twitter</a>
        <a href="https://www.threads.net/intent/post?text={{ content | replace: '</p>', ' ' | replace: '<p>', '' | strip_html | strip_newlines | url_encode }}{% if image_url %}&url={{ page.url | absolute_url | url_encode }}&image={{ image_url | absolute_url | url_encode }}{% else %}&url={{ page.url | absolute_url | url_encode }}{% endif %}" target="_blank" rel="noopener">Threads</a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url | url_encode }}" target="_blank" rel="noopener">LinkedIn</a>
      </div>
    </div-->
  </footer>
</article>

<script>
document.querySelectorAll('.post-link').forEach(button => {
  button.addEventListener('click', () => {
    const platforms = button.nextElementSibling;
    platforms.classList.toggle('visible');
  });
});
</script>
